@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

body {
  margin-top: 80px;
  box-sizing: content-box;
  /* background: url("https://user-images.githubusercontent.com/54503796/99884480-83ec8180-2bfc-11eb-824b-2c484ba02014.jpg"); */
  /* background: url("https://user-images.githubusercontent.com/54503796/99885890-1ba29d80-2c06-11eb-9852-199778c60251.jpg");
  background-size: 50%; */
  background: rgb(215, 247, 244);
  /* background: url('https://user-images.githubusercontent.com/54503796/99887077-5957f400-2c0f-11eb-9720-eebdf664f283.png'),
    linear-gradient(
      90deg,
      rgba(215, 247, 244, 1) 0%,
      rgba(177, 241, 180, 1) 27%,
      rgba(240, 232, 127, 1) 50%,
      rgba(254, 189, 82, 1) 72%,
      rgba(255, 107, 0, 1) 100%
    ); */
}

#assessment-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.window {
  border: solid 0px black;
  padding: 40px 0 0 40px;
  margin: 0;
}

.question {
  border: dotted 0px grey;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  /* margin: 10px; */
  padding-top: 15px;
}

.window button {
  padding: 0.7em 4em;
  margin: 30px 120px;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  text-align: center;
  background-color: #3a057b;
}

.about-window {
  border-radius: 10px;
  background: #ffffff;
  flex: 1;
  max-width: 100%;
  padding: 25px 30px;
  /* margin: 0 60px;
  margin: 40px 100px 40px 40px; */
  box-shadow: 5px 10px 20px rgba(10, 10, 10, 0.2);
}

.about-window h3 {
  border: 0px solid red;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #ce6177;
  padding: 5px 0 0 0;
  margin: 0px;
}

.about-window p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding: 10px 0 0 0;
  margin: 0;
}

.assessment-window {
  flex: 2;
  max-width: 60%;
  /* align-self: center; */
  padding: 30px 40px;
  margin: 0 120px;
  /* margin: 40px 40px 40px 0; */
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(10, 10, 10, 0.2);
}

.assessment-window h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #ce6177;
  padding: 0;
  margin: 0 0 5px 0;
}

#results-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #ce6177;
  padding: 5px 0;
  margin: 0px;
}

.results-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  color: black;
  padding: 5px 0;
  margin: 0px;
}

.activity {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: #ce6177;
  padding: 0;
  margin: 0;
}

#results-window {
  max-width: 80%;
  /* align-self: center; */
  padding: 30px 40px;
  margin: 0 60px;
  /* margin: 40px 40px 40px 0; */
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(10, 10, 10, 0.2);
}

#questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*---------------------------------------*/

#canvas1 {
  position: absolute;
  margin-top: 0px;
  top: 0;
  left: 0;
}
#canvasWrapper {
  align-items: center;
}
/*just paste it at the bottom*/
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  /* position: fixed; */
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
#profileLink {
  float: right;
}

.navbar {
  background-color: #e8e8e8;
  display: flex;
  height: 7.5%;
  justify-content: flex-end;
}

.mainPageHeader {
  background-color: #ce6177;
}

a {
  color: black;
  font-weight: strong;
  text-decoration: underline;
  font-size: 1.5rem;
}
a:hover {
  color: white;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: strong;
  font-size: 2rem;
  color: white;
  padding: 5px;
  margin: 0 0 0 60px;
}

#canvas1 {
  position: absolute;
  margin-top: 0px;
  top: 0;
  left: 0;
}
#canvasWrapper {
  align-items: center;
}

#canvas2 {
  position: absolute;
  margin-top: 0px;
  top: 0;
  left: 0;
}
#myChart {
  position: relative;
  z-index: 10;
  margin-top: 300px;
}

#proNav {
  font-family: 'Nunito', sans-serif;
}
#userStats {
  margin-top: 150px;
  font-family: 'Nunito', sans-serif;
  position: relative;
  text-align: center;
}
#apiLinks {
  margin-top: 200px;
  font-family: 'Nunito', sans-serif;
  position: relative;
  text-align: center;
}

/* unvisited link */

.navStyle:link {
  color: white;
  text-decoration: none;
  font-weight: 850;
}

/* visited link */
.navStyle:visited {
  color: white;
  text-decoration: none;
  font-weight: 850;
}

/* mouse over link */
.navStyle:hover {
  color: rgb(255, 176, 216);
  text-decoration: none;
  font-weight: 900;
}

/* selected link */
.navStyle:active {
  color: white;
  text-decoration: none;
  font-weight: 850;
}
.niceButton {
  margin: 0 20px 0 20px;
  padding: 3px 10px 3px 10px;
  background-color: rgb(212, 83, 83);
  float: center;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 2px 8px 6px 2px rgb(51, 51, 51); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px 8px 2px rgb(51, 51, 51); /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 8px 2px rgb(51, 51, 51); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.niceButton:focus {
  outline: none;
}
